{# templates/register.html.twig #}
{% extends 'base.html.twig' %}

{% block body %}

{{ form_start(registrationForm) }}
    {{ form_row(registrationForm.fullName) }}
    {{ form_row(registrationForm.username) }}
    {{ form_row(registrationForm.email) }}
	{{ form_row(registrationForm.plainPassword) }}
	{{ form_row(registrationForm.password) }}
  
    <button type="submit">S'inscrire !</button>
{{ form_end(registrationForm) }}

{% endblock %}