{% extends 'base.html.twig' %}

{% block title product.name %}

{% block body %}
    <div class="jumbotron">
        <div class="container">

            {% for message in app.flashes('success') %}
                <div class="alert alert-success">
                    {{ message }}
                </div>
            {% endfor %}

            {% if not form.vars.valid %}
                <div class="alert alert-danger">
                    Vous avez fait une erreur dans le formulaire
                </div>
            {% endif %}

            <div class="row">
                <div class="col-md-8">
                    {% if product.filename %}
                        <img src="{{ vich_uploader_asset(product, 'imageFile')  }}" alt="image du bien" class="card-img-top">
                    {% else %}
                        <img src="{{ '/images/products/empty.jpg'  }}" alt="image du bien" class="card-img-top">
                    {% endif %}
                </div>
                <div class="col-md-4">
                    <h1>{{ product.name }}</h1>
                    
                    <div class="text-primary" style="font-size: 4rem;font-weight: bold;">{{ product.price }}
                        €
                    </div>
                    <a href="#" class="btn btn-primary" id="contactButton"{% if form.vars.submitted %} style="display: none;"{% endif %}>Contacter l'agence</a>
                    <div id="contactForm" class="mt-4"{% if not form.vars.submitted %} style="display: none;"{% endif %}>
                        {{ form_start(form) }}
                        <div class="row align-items-end">
                            <div class="col">{{ form_row(form.name) }}</div>
                            <div class="col">{{ form_row(form.price) }}</div>
							<div class="col">{{ form_row(form.taille) }}</div>
                        </div>
                        
                        {{ form_rest(form) }}
                        <div class="form-group">
                            <button class="btn btn-primary">Envoyer</button>
                        </div>
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
   
{% endblock %}

