{{ form_start(form) }}
<div class="row">
    <div class="col-md-4">{{ form_row(form.name) }}</div>
  
    <div class="col-md-4">{{ form_row(form.price) }}</div>
	 <div class="col-md-4">{{ form_row(form.updatedAt) }}</div>
	
	<div class="col-md-2">{{ form_row(form.imageFile) }}</div>
</div>

<h1>form</h1>

{{ form_rest(form) }}
<button class="btn btn-primary">{{ button|default('Enregistrer') }}</button>
{{ form_end(form) }}
