{% extends 'base.html.twig' %}

{% block title  %}
{% endblock %}

{% block body %}
    <div class="jumbotron">
        <div class="container">

            {% for message in app.flashes('success') %}
                <div class="alert alert-success">
                    {{ message }}
                </div>
            {% endfor %}

            {% if not form.vars.valid %}
                <div class="alert alert-danger">
                    Vous avez fait une erreur dans le formulaire
                </div>
            {% endif %}

            <div class="row">
                
                <div class="col-md-4">
                    
                    
                    <a href="#" class="btn btn-primary" id="contactButton" >Contacter l'agence</a>
                    <div id="contactForm" class="mt-4" >
                        {{ form_start(form) }}
                        <div class="row align-items-end">
                            <div class="col">{{ form_row(form.firstname) }}</div>
                            <div class="col">{{ form_row(form.lastname) }}</div>
                        </div>
                        <div class="row align-items-end">
                            <div class="col">{{ form_row(form.phone) }}</div>
                            <div class="col">{{ form_row(form.email) }}</div>
                        </div>
                        {{ form_rest(form) }}
                        <div class="form-group">
                            <button class="btn btn-primary">Envoyer</button>
                        </div>
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
    
{% endblock %}

