{% extends 'base.html.twig' %}

{% block title 'Gérer les biens' %}

{% block body %}
  <div class="container mt-4">

    <h1>Liste des biens</h1>

    {% for message in app.flashes('success') %}
      <div class="alert alert-success">
        {{ message }}
      </div>
    {% endfor %}
	
	<a href="{{ path('admin.product.index') }}">Ajouter</a>
    
	<table class="table table-striped">
      <thead>
      <tr>
        <th>Nom</th>
        <th>Prix</th>
		<th>Filename</th>
		<th>Taille</th>
      </tr>
      </thead>
      <tbody>
      {% for product in products %}
      <tr>
        <td>{{ product.name }}</td>
		<td>{{ product.price }}</td>
		<td>{{ product.filename }}</td>
		<td>{{ product.taille }}</td>
        <td>
          <a href="{{ path('admin.product.edit', {id: product.id}) }}" class="btn btn-secondary">Editer</a>
          <form method="post" action="{{ path('admin.product.delete', {id: product.id}) }}" style="display: inline-block" onsubmit="return confirm('Êtes vous vraiment sûr ?')">
            <input type="hidden" name="_method" value="DELETE">
            <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ product.id) }}">
            <button class="btn btn-danger">Supprimer</button>
          </form>
        </td>
      </tr>
      {% endfor %}
      </tbody>
    </table>

    <div class="text-right">
      <a href="{{ path('admin.product.new') }}" class="btn btn-primary">Créer un nouveau bien</a>
    </div>

  </div>
{% endblock %}
